.row {
    margin-bottom: 10px;
}

.bittelittepadding {
    padding: 10px;
}

.teamskjerm-header {
    border-bottom: 1px solid #212121;
    background: #f6f6f6;
    padding: 10px;
}

.draggableKomponentKortFlyttes {
    cursor: grab;
}

.draggableKomponentKort {
    cursor: default !important;
}

.komponentkort {
    padding-left: 1rem;
    padding-bottom: 1rem;
}