.row {
    margin-bottom: 10px;
}

.bittelittepadding {
    padding: 10px;
}

.teamskjerm-header {
    border-bottom: 1px solid #212121;
    background: #f6f6f6;
    padding: 10px;
}

.draggableKomponentKortFlyttes {
    cursor: grab;
}

.draggableKomponentKort {
    cursor: default !important;
}

.komponentkort {
    padding-left: 8px;
    padding-bottom: 8px;
}

p {
    margin-bottom: 0px !important;
}

.alert {
    padding-top: 4px !important;
    padding-bottom: 0px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.card-body {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.infoskjerm-inspirerende-bakgrunn {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
    background-attachment: fixed;
}